@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* Color pallete */
:root {
  --bg-primary: #161716;
  --bg-secondary: #292929;
  --bg-secondary-darker: #222222;
  --bg-secondary-darkest: #141414;
  --bg-lightest: #474747;
}

.text-lg-gradient {
  background: -webkit-linear-gradient(rgb(244, 114, 182) , rgb(248, 89, 160)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: table-row !important;
  color: white; /* fallback color */
}

h1 {
  font-weight: 900 !important;
}



.card:active {
  transform: scale(0.95);
  transition: all 0.1s ease-in-out;
}

button {
  transition: background-color 0.1s ease-in-out;
}


.bg-lightest {
  background-color: var(--bg-lightest) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

/* navbar and sidebar */

.navbar, .sidebar {
  background-color: #292929;
}
.sidebar {
  z-index: 5000;
  height: calc(100% - 40px);
  width: 200px;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarItems {
  padding-top: 60px;
}

.profileContainer {
  display: flex;
  width: 100%;
  padding: 8px 28px;
  background-color: #262626 !important;
  box-sizing: border-box;
}

.profileAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  margin-left: 12px;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.profileInfo-name {
  font-size: 0.875rem;
  color: white;
  font-weight: 500;
  line-height: 1.25;
  
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-width: 100px !important;
  white-space: nowrap;
}

.profileInfo-btn {
  font-size: .75rem;
  color: #666666;
  transition: color 250ms ease;
}

.profileInfo-btn:hover {
  color: #8b8b8b;
}

.sidebarItem {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  
  transition: background .2s linear !important;
}

.sidebarItem:hover {
  background-color: #222121 !important;
}

.appContent {
  height: calc(100% - 40px);
  width: calc(100% - 200px);
  margin-left: 200px;
}

@media (max-width: 992px) {
  .sidebar {
      display: none;
  }

  .appContent {
      width: 100%;
      margin-left: 0;
  }
}